#container {
    width: 98%;
    height: 98%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 2rem;
}

#menu{
    width: 15%;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    border-radius: 10px;
    box-shadow: 0 15px 50px rgba(15,0,0,.2);
    margin-right: 0.1rem;
}

#principal {
    width: 100%;
    height: 94%;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
}

#footer {
    width: 100%;
    height: 5%;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

#mobile {
    display: none;
}

#display{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    background-image: url("/assets/img/standard/background/logotransparent.png") ;
    background-color: white;
    background-size: 64% ;
    background-repeat: no-repeat ;
    background-position: 50% 96%;
}

.panel {
    width: 100%;
    height: 89%;
    padding: 0.5rem;
    overflow: auto;
    text-align: justify;
    font-size: 1.5rem;
    line-height: 150%;
    border-radius: 10px;
    box-shadow: 0 15px 50px rgba(15,0,0,.2);
}

.margin ,h2 , h3 {
    margin: 1rem;
}



#articleDisplay h1{
    text-align: center;
    text-transform: uppercase;
}

#articleImage {
    width: 25vw;
    height: 25vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size:  contain;
    float: left;
    margin: 0.5rem;
}

.date {
    font-size: 1rem;
    margin-bottom: 0.2rem;
    margin-top: 0.2rem;
    text-align: end;
}

#menuLogo{
    height: 25%;
    background-image: url("/assets/img/standard/background/logo.png");
    background-color: white;
    background-size: contain ;
    background-repeat: no-repeat ;
    background-position: center;
}

#header {
    font-size: 6rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

#form_connect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
}

.information {
    display: flex;
    flex-direction: row;
}

.information div {
    margin: 1rem;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.label {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem;
}

.label input {
    padding-left: 0.2rem;
}

.smallText {
    font-size: 1rem;
}

#account {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0.5rem;
}

/*#account {
    display: flex;
    flex-direction: column;
    margin: 0.5rem ;
}

#account a {
    margin: 0.5rem;
}*/
